.screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 47, 47, 0.671);
}
.video {
  width: 100%;
  height: 100%;
}
.modal {
  width: 600px;
  /* padding: 10px; */
}
.modal2 {
  width: 300px;

  padding: 20px 10px;
  border-radius: 10px;
}
.modal-top {
  display: flex;
  padding: 25px;
  font-size: 19px;
  font-weight: 700;
  border-bottom: 1px solid grey;
  gap: 10px;
  align-items: center;
}
.modal-mid {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
  font-size: 19px;
  font-weight: 700;
  position: relative;
  /* border-bottom: 1px solid grey; */
  gap: 30px;
  align-items: center;
}
.modal-mid img {
  width: 70px;
  position: absolute;
  top: -50px;
  height: 70px;
}
.bottom {
  font-size: 18px;

  padding: 7px 10px;
}
.bottom ul {
  font-weight: 700;
  list-style-type: decimal;
}
.bottom ul li {
  margin: 25px 0;
}
.modal-image {
  width: 20px;
  height: 20px;
}

.modal-image2 {
  width: 15px;
  height: 15px;
  margin-left: 25px;
}
.btn3{
  background-color: black;
  color: white;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
  width: 200px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 32px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.btns{
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: row;
}

.btn1,.btn2{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.btn2{
  background-color: white;
  border: 1px solid black;
  color: black;
}