@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: #00b8af;
}
.img1 {
  margin-left: 53px;
  margin-top: 53px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  height: 80vh;
}
.lgo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.cont {
  display: flex;
  padding-right: 25px;

}
.para1 {
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000;
  margin-top: 40px;
}
.para2 {
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000;
}
.para3 {
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #515151;
  margin-top: 20px;
}
.para4 {
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #515151;
}
.rect2 {
  background-color: white;
  width: 80vw;
  height: 92vh;
  margin-left: 80px;
  margin-top: 30px;
  border-radius: 10px;
}
body {
  overflow: hidden;
}
.rectinn {
  background-color: rgba(0, 0, 0, 0.04);
  width: 800px;
  height: 44vh;
  /* margin-left: 80px; */
  margin-top: 25px;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.labl5 {
  font-family: Poppins;
  font-size: 19px;
  font-weight: 550;
  line-height: 29px;
  font-style: normal;
  /* padding-top: 100px; */
  margin-left: 30px;
  margin-top: 30px;
  text-align: left;
  color: #333333;
  font-stretch: normal;
}
.labl2 {
  font-family: Poppins;
  font-weight: 500;

  font-size: 17px;
  line-height: 26px;
  font-style: normal;
  margin-left: 30px;
  margin-top: 30px;
  text-align: left;
  color: #333333;
  font-stretch: normal;
}
.labl3 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;

  line-height: 26px;
  font-style: normal;
  margin-left: 30px;
  margin-top: 30px;
  text-align: left;
  color: #333333;
  font-stretch: normal;
}
.labl4 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  font-style: normal;
  margin-left: 530px;
  margin-top: 30px;
  text-align: left;
  color: #333333;
  font-stretch: normal;
}
a {
  color: #333333;
}
a:hover {
  color: #333333;
  cursor: pointer;
}
.ipt {
  width: 90px;
  height: 40px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  /* padding-left: 20px; */
  margin-left: 28px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 27px;
  border: solid 1px rgba(50, 42, 73, 0.1);
  background-color: #fcfcfc;
}
.btn1 {
  width: 713px;
  height: 50px;
  border-radius: 27px;
  margin-top: 20px;
  background-color: #000;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  margin-left: 28px;

  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  color: #fff;
}
.cc {
  width: 100px;
}

@media only screen and (max-width: 1500px) {
  .img1 {
    margin-left: 53px;
    /* height: 60vh; */
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  .rect2 {
    background-color: white;
    width: 80vw;
    height: 92vh;
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 10px;
  }
  .rectinn {
    background-color: rgba(0, 0, 0, 0.04);
    width: 780px;
    height: 44vh;
    /* margin-left: 80px; */
    margin-top: 85px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .lgo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* width: 150px;
    height: 50px; */
  }
  .ipt {
    width: 90px;
    height: 50px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    /* padding-left: 20px; */
    margin-left: 28px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 27px;
    border: solid 1px rgba(50, 42, 73, 0.1);
    background-color: #fcfcfc;
  }

  .labl3 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;

    line-height: 26px;
    font-style: normal;
    margin-left: 30px;
    margin-top: 10px;
    text-align: left;
    color: #333333;
    font-stretch: normal;
  }
  .btn1 {
    width: 710px;
    height: 40px;
    border-radius: 27px;
    margin-top: 40px;
    background-color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    /* display: block; */
    margin-left: 28px;
    /* margin-right: auto; */
    color: #fff;
  }
  .labl4 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;

    line-height: 26px;
    font-style: normal;
    margin-left: 520px;
    margin-top: 30px;
    text-align: left;
    color: #333333;
    font-stretch: normal;
  }
  .labl5 {
    font-family: Poppins;
    font-size: 19px;
    font-weight: 550;
    line-height: 29px;
    font-style: normal;
    /* padding-top: 100px; */
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
    color: #333333;
    font-stretch: normal;
  }
  .labl2 {
    font-family: Poppins;
    font-weight: bold;

    font-size: 19px;
    line-height: 26px;
    font-style: normal;
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
    color: #333333;
    font-stretch: normal;
  }
}

@media only screen and (max-width: 1394px) {
  .img1 {
    margin-left: 53px;
    /* height: 60vh; */
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  .rect2 {
    background-color: white;
    width: 64vw;
    height: 92vh;
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 10px;
  }
  .rectinn {
    background-color: rgba(0, 0, 0, 0.04);
    width: 640px;
    height: 44vh;
    /* margin-left: 80px; */
    margin-top: 5vh;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .lgo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* width: 150px;
    height: 50px; */
  }
  .ipt {
    width: 65px;
    height: 45px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    /* padding-left: 20px; */
    margin-left: 28px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 27px;
    border: solid 1px rgba(50, 42, 73, 0.1);
    background-color: #fcfcfc;
  }

  .labl3 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;

    line-height: 26px;
    font-style: normal;
    margin-left: 30px;
    margin-top: 10px;
    text-align: left;
    color: #333333;
    font-stretch: normal;
  }
  .btn1 {
    width: 560px;
    height: 40px;
    border-radius: 27px;
    margin-top: 30px;
    background-color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    /* display: block; */
    margin-left: 28px;
    /* margin-right: auto; */
    color: #fff;
  }
  .labl4 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;

    line-height: 26px;
    font-style: normal;
    margin-left: 370px;
    margin-top: 30px;
    text-align: left;
    color: #333333;
    font-stretch: normal;
  }
  .labl5 {
    font-family: Poppins;
    font-size: 19px;
    font-weight: 550;
    line-height: 29px;
    font-style: normal;
    /* padding-top: 100px; */
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
    color: #333333;
    font-stretch: normal;
  }
  .labl2 {
    font-family: Poppins;
    font-weight: bold;

    font-size: 19px;
    line-height: 26px;
    font-style: normal;
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
    color: #333333;
    font-stretch: normal;
  }
}
@media only screen and (max-width: 1024px) {
  .img1 {
    margin-left: 53px;
    /* height: 50vh; */
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  .rect2 {
    background-color: white;
    /* width: 600px; */
    height: 90vh;
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 10px;
  }
  .rectinn {
    background-color: rgba(0, 0, 0, 0.04);
    width: 520px;
    height: 40vh;
    /* margin-left: 80px; */
    margin-top: 5vh;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .lgo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 150px;
    height: 50px;
  }
  .ipt {
    width: 45px;
    height: 25px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    /* padding-left: 20px; */
    margin-left: 28px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 27px;
    border: solid 1px rgba(50, 42, 73, 0.1);
    background-color: #fcfcfc;
  }

  .labl3 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;

    line-height: 26px;
    font-style: normal;
    margin-left: 30px;
    margin-top: 10px;
    text-align: left;
    color: #333333;
    font-stretch: normal;
  }
  .btn1 {
    width: 450px;
    height: 30px;
    border-radius: 27px;
    margin-top: 20px;
    background-color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    /* display: block; */
    margin-left: 28px;
    /* margin-right: auto; */
    color: #fff;
  }
  .labl4 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;

    line-height: 26px;
    font-style: normal;
    margin-left: 280px;
    margin-top: 30px;
    text-align: left;
    color: #333333;
    font-stretch: normal;
  }
}
@media only screen and (max-height : 802px){
  .rectinn {
    margin-top: 25px;
  }
}