@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
body {
  background-color: #00b8af;
}
.error{
  color: red;
  margin-left: 28px;
  font-family: Poppins;
}
.img {
  /* margin-top: 53px;*/
  margin-left: 83px; 
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  height: 80vh;
}
.lgo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.cont {
  display: flex;
  padding-right: 25px;
  /* margin-bottom: 20px; */
}
.para1 {
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000;
  margin-top: 40px;
}
.para2 {
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000;
}
.para3 {
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #515151;
  margin-top: 20px;
}
.para4 {
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #515151;
}
.rect {
  background-color: white;
  width: 80vw;
  height: 92vh;
  margin-left: 80px;
  margin-top: 30px;
  border-radius: 10px;
  /* margin-right: 20px; */
}
.rectinner {
  background-color: rgba(0, 0, 0, 0.04);
  width: 800px;
  height: 44vh;
  /* margin-left: 80px; */
  margin-top: 5vh;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.labal {
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  /* padding-top: 100px; */
  margin-left: 30px;
  margin-top: 30px;
  text-align: left;
  color: #333;
  font-stretch: normal;
}
.inpt {
  width: 700px;
  height: 40px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  padding-left: 20px;
  margin-left: 28px;
  margin-top: 5px;
  margin-bottom: 30px;
  border-radius: 27px;
  border: solid 1px rgba(50, 42, 73, 0.1);
  background-color: #fcfcfc;

}
.new {
  width: 700px;
  height: 40px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  /* padding-left: 20px; */
  margin-left: 28px;
  margin-top: 5px;
  margin-bottom: 30px;
  border-radius: 27px;
  border: solid 1px rgba(50, 42, 73, 0.1);
  background-color: #fcfcfc;
  color: #666;
}
.cc {
  width: 100px;
  height: 45px;
  margin-left: 28px;
  font-family: Poppins;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  /* border-radius: 27px; */
  border-radius: 27px 0px 0px 27px;
  padding-left: 10px;
  /* border-right-style: none; */
  border-color: #e7e6e9;
  background-color: rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  /* border: solid 1px rgba(50,42,73,0.1); */
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
  outline: none;
}
.inpt2 {
  width: 600px;
  height: 40px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  font-stretch: normal;
  padding-left: 20px;
  /* margin-left: 28px; */
  margin-top: 5px;
  outline: none;
  /* margin-bottom: 30px; */
  border-radius: 0px 27px 27px 0px;
  border: solid 1px rgba(50, 42, 73, 0.1);
  background-color: #fcfcfc;
}
.dum{
  color: rgb(245,245,245);
}
.btn {
  width: 720px;
  height: 50px;
  border-radius: 27px;
  background-color: #000;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-left: 28px;
  margin-top: 5px;
  margin-bottom: 30px;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}


@media only screen and (max-width : 1500px){
  .img {
    margin-left: 53px;
    /* height: 65vh; */
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  .rect {
    background-color: white;
    width: 80vw;
    height: 92vh;
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 10px;
  }
  .rectinner {
    background-color: rgba(0, 0, 0, 0.04);
    width: 780px;
    height: 42vh;
    /* margin-left: 80px; */
    margin-top: 85px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .lgo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* width: 150px;
    height: 50px; */
  }
  .inpt {
    width: 700px;
    height: 40px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    padding-left: 20px;
    margin-left: 28px;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 27px;
    border: solid 1px rgba(50, 42, 73, 0.1);
    background-color: #fcfcfc;
  }
  .cc {
    width: 100px;
    height: 45px;
    margin-left: 28px;
    font-family: Poppins;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    /* border-radius: 27px; */
    border-radius: 27px 0px 0px 27px;
    padding-left: 10px;
    /* border-right-style: none; */
    border-color: #e7e6e9;
    background-color: rgba(0, 0, 0, 0.04);
    -moz-appearance: none;
    /* border: solid 1px rgba(50,42,73,0.1); */
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
    outline: none;
  }
  .inpt2 {
    width: 600px;
    height: 40px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    font-stretch: normal;
    padding-left: 20px;
    /* margin-left: 28px; */
    margin-top: 5px;
    outline: none;
    /* margin-bottom: 30px; */
    border-radius: 0px 27px 27px 0px;
    border: solid 1px rgba(50, 42, 73, 0.1);
    background-color: #fcfcfc;
  }
  .btn {
    width: 720px;
    height: 40px;
    border-radius: 27px;
    background-color: #000;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-left: 28px;
    /* margin-top: 5px; */
    margin-bottom: 30px;
  }
  .labal {
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    /* padding-top: 100px; */
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
    color: #333;
    font-stretch: normal;
  }
}

@media only screen and (max-width : 1394px){
  .img {
    margin-left: 53px;
    /* height: 65vh; */
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  .rect {
    background-color: white;
    /* width:  64vw;740px; */
    height: 92vh;
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 10px;
  }
  .rectinner {
    background-color: rgba(0, 0, 0, 0.04);
    width: 600px;
    height: 42vh;
    /* margin-left: 80px; */
    margin-top: 25px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .lgo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* width: 150px;
    height: 50px; */
  }
  .inpt {
    width: 500px;
    height: 40px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    padding-left: 20px;
    margin-left: 28px;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 27px;
    border: solid 1px rgba(50, 42, 73, 0.1);
    background-color: #fcfcfc;
  }
  .cc {
    width: 100px;
    height: 45px;
    margin-left: 28px;
    font-family: Poppins;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    /* border-radius: 27px; */
    border-radius: 27px 0px 0px 27px;
    padding-left: 10px;
    /* border-right-style: none; */
    border-color: #e7e6e9;
    background-color: rgba(0, 0, 0, 0.04);
    -moz-appearance: none;
    /* border: solid 1px rgba(50,42,73,0.1); */
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
    outline: none;
  }
  .inpt2 {
    width: 400px;
    height: 40px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    font-stretch: normal;
    padding-left: 20px;
    /* margin-left: 28px; */
    margin-top: 5px;
    outline: none;
    /* margin-bottom: 30px; */
    border-radius: 0px 27px 27px 0px;
    border: solid 1px rgba(50, 42, 73, 0.1);
    background-color: #fcfcfc;
  }
  .btn {
    width: 525px;
    height: 40px;
    border-radius: 27px;
    background-color: #000;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-left: 28px;
    /* margin-top: 5px; */
    margin-bottom: 30px;
  }
  .labal {
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    /* padding-top: 100px; */
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
    color: #333;
    font-stretch: normal;
  }
}

@media only screen and (max-width : 1024px) {
  .img {
    margin-left: 53px;
    /* height: 50vh; */
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  .rect {
    background-color: white;
    /* width: 60vw; */
    height: 90vh;
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 10px;
  }
  .rectinner {
    background-color: rgba(0, 0, 0, 0.04);
    width: 520px;
    height: 40vh;
    /* margin-left: 80px; */
    margin-top: 75px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .lgo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 150px;
    height: 50px;
  }
  .inpt {
    width: 400px;
    height: 30px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    padding-left: 20px;
    margin-left: 28px;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 27px;
    border: solid 1px rgba(50, 42, 73, 0.1);
    background-color: #fcfcfc;
  }
  .cc {
    width: 100px;
    height: 35px;
    margin-left: 28px;
    font-family: Poppins;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    /* border-radius: 27px; */
    border-radius: 27px 0px 0px 27px;
    padding-left: 10px;
    /* border-right-style: none; */
    border-color: #e7e6e9;
    background-color: rgba(0, 0, 0, 0.04);
    -moz-appearance: none;
    /* border: solid 1px rgba(50,42,73,0.1); */
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
    outline: none;
  }
  .inpt2 {
    width: 300px;
    height: 30px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    font-stretch: normal;
    padding-left: 20px;
    /* margin-left: 28px; */
    margin-top: 5px;
    outline: none;
    /* margin-bottom: 15px; */
    border-radius: 0px 27px 27px 0px;
    border: solid 1px rgba(50, 42, 73, 0.1);
    background-color: #fcfcfc;
  }
  .btn {
    width: 420px;
    height: 30px;
    border-radius: 27px;
    background-color: #000;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-left: 28px;
    /* margin-top: 5px; */
    margin-bottom: 30px;
  }
  .labal {
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    /* padding-top: 100px; */
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
    color: #333;
    font-stretch: normal;
  }
}
@media only screen and (max-height : 802px){
  .rectinner {
    margin-top: 25px;
  }
}