.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-color: #00b8af; */
}

#view {
  visibility: hidden;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

#output {
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* transform: translateX(-50%) scaleX(-1); */
}


#countdown {
  display: none;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.counter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.counter.hide {
  transform: translate(-50%, -50%) scale(0);
  animation: hide .2s ease-out;
}

@keyframes hide {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

.final {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.final.show {
  transform: translate(-50%, -50%) scale(1);
  animation: show .3s ease-in;
}

@keyframes show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  80% {
    transform: translate(-50%, -50%) scale(1.4);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.nums {
  color: #00b8af;
  position: relative;
  font-size: 250px;
  overflow: hidden;
  width: 500px;
  height: 250px;
}

.nums span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
}

.nums span.in {
  transform: translate(-50%, -50%) rotate(0deg);
  animation: goIn .25s ease-in-out;
}

.nums span.out {
  animation: goOut .25s ease-in-out;
}

@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }

  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  90%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

}

@keyframes goOut {

  0%,
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(20deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}

.hs1 {
  font-size: 50px;
  margin: 50px;
  text-transform: uppercase;
}

.hs2 {
  font-size: 200px;
  text-transform: uppercase;
}

#btn {
  width: 100px;
  height: 50px;
  font-size: 24px;
  font-family: 'serif';
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 100px;
}